/dist/
__pycache__
*.pyc
**/node_modules/
bin
.custom_image
tests/output
.vscode/
deploy/smithy/chart/charts
.idea/
components/consumers/pdf/report.html
new-components/targets/git-clone/pkg/git/testdata/gitea
**/.DS_STORE
